*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
  
}
.container{

    width:100%;
    height:100vh;
    background:url(https://wallpaperaccess.com/full/1453912.jpg);
    display:flex;
    align-items:center;
    justify-content: center;
}

.calculator{
    background:rgb(13, 43, 118);
    padding:20px;
    border-radius: 10px;
}
h1{ 
 height:90vh;
 position:relative;
 text-align:center;
transform:translate(130.5%);
    
}
.calculator form input{
    border:0;
    outline:0;
    width:60px;
    height:60px;
    border-radius:10px;
    box-shadow:-8px -8px 15px rgb(165, 212, 233),5px 5px 15px rgb(173, 204, 229);
    background:transparent;
    font-size:20px;
    color:black;
    cursor:pointer;
    margin:10px;
    background-color: azure;
}
form .display{
    display:flex;
    justify-content:flex-end;
    margin:20px 0;
}
form .display input{
    text-align:right;
    flex:1;
    font-size:45px;
    box-shadow:none;
}
form input.equal{
    width:145px;
}
form input.color{
    color:rgb(73, 192, 235);
}
form input.equal{
    color:black;
    background-color: rgb(73, 195, 239);
}
form input.color_AC{
    color:red;
}